.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  background-color: #000000;
  background-size: cover;
}

.job-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1160px;
}

@media screen and (min-width: 768px) {
  .job-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    width: 90%;
    justify-content: space-between;
  }

  .search-jobs-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}

.search-jobs-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  margin-left: 80px;
}

.search-con {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 15px 0;
  border: 1px solid #7e858e;
  background-color: transparent;
  border-radius: 8px;
  margin-left: 60px;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1);
}

.btn {
  background-color: #515254;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-element {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  width: 100%;
  padding: 8px 12px;
}

.products-loader-container {
  height: 20px;
  width: 25px;
  color: #6366f1;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 45px;
  flex-grow: 1;
}

.img {
  width: 250px;
  height: 250px;
}

.failure-heading {
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
}

.failure-para {
  color: #64748b;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
}

.retry-button {
  background-color: #6366f1;
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 12px;
  margin: 15px;
}

.no-job-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 30px;
}

.no-job-img {
  width: 220px;
  margin-bottom: 20px;
}

.heading {
  color: #ffffff;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
}

.search-icon {
  color: #facc15;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .job-content {
    flex-direction: column;
  }

  .search-con {
    width: 100%;
    max-width: 100%;
  }

  .search-element {
    font-size: 16px;
  }
}
